.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-layout{
  border-radius: 0;
  padding: 10px;
  display: flex;
  justify-content: start;
  z-index: 1;
  flex-wrap: wrap;
  box-shadow: inset 0 3px 7px -6px #000;
  overflow-y: auto;
  position: relative;
}

.grid-layout > .grid-item{

  display: block;
  margin: 10px;
  position: relative;
}

.grid-layout > .grid-item .tools{
position: absolute;
  z-index: 1;
}

.cropper{
  background-color: #61dafb;
  width: 280px;
  height: 180px;
}
