.image-root-container{
    position: relative;
    height: 100%;
}

.image-card-container{
    width: 300px;
    height: 200px;
    position: relative;
}

.image-toolbar{
    height: 40px;
    width: 100%;
}

.image-quantity-input{
    width: 40px;
}

.cropperContainer{
    width: 300px;
    height: 200px;
}
.zoom-slider-container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.zoom-slider{
    position: absolute;
    z-index: 1;
    bottom:0px;
}
